input[type=search] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 20px;
  }